[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=2.1.7"
graphene = ">=2.1.3"
django-webpack-loader = "*"

[dev-packages]

[requires]
python_version = "3.7"
