{% load static %}

<script src="{% static 'd3.min.js' %}"></script>
<script src="{% static 'c3.min.js' %}"></script>
<script src="{% static 'jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'bootstrap.min.js' %}"></script>
<script>
    // Builds a GraphQL query with the specified twitter handle
    function buildClassifyQuery(twitterHandle) {
        console.log(`Classifying ${twitterHandle}...`);
        var query = `{
            classify(handle: "${twitterHandle}") {
                bf { male, female, brand },
                af { male, female, brand },
                cnn { male, female, brand },
                hybrid { male, female, brand }
            }
        }`;
        return { query };
    }

    // Executes a classify query with the given handle, then executes the callback
    function classify(twitterHandle, cb) {
        $.post('/api/', buildClassifyQuery(twitterHandle), cb);
    }

    // Gets the response from the GraphQL query and transforms them into columns for the C3.js pie chart
    function buildPieChartColumns(graphQLResponse) {
        return [
            ['male', graphQLResponse.classify.male],
            ['female', graphQLResponse.classify.female],
            ['brand', graphQLResponse.classify.brand],
        ];
    }

    /*
        Function that builds the C3 chart configuration and attaches it to the corresponding
        DOM element with male, female, and brand percentages.
    */
    function buildChart(id, percentages) {
        var chart = c3.generate({
            bindto: id,
            data: {
                columns: [
                    ['Male', 0],
                    ['Female', 0],
                    ['Brand', 0]
                ],
                type: 'bar',
                colors: {
                    Male: '#0066CC',
                    Female: '#FF6666',
                    Brand: '#808080'
                },
                groups: [
                    ['Male', 'Female', 'Brand']
                ],
                order: null
            },
            bar: {
                width: {
                    ratio: 0.3
                }
            },
            transition: {
                duration: 500
            },
            tooltip: {
                show: false
            },
            axis: {
                x: { show: false },
                y: { show: false },
            },
            size: { width: 220, height: 320 },
            grid: {
                x: { show: false }
            },
            legend: {
                show: false
            }
            // title: {
            //     text: chartTitle
            // }
        });

        setTimeout(function() {
            chart.load({
                columns: [
                    ['Male', percentages.male],
                    ['Female', percentages.female],
                    ['Brand', percentages.brand]
                ]
            });
        }, 500);

        return chart;
    }

    function getClassification(hybrid) {
        var maleSpan = '<span class="male">MALE</span>';
        var femaleSpan = '<span class="female">FEMALE</span>';
        var brandSpan = '<span class="brand">BRAND</span>';

        if (hybrid.male == hybrid.female && hybrid.female == hybrid.brand) {
            return 'UNKNOWN';
        }

        var max = Math.max(hybrid.male, hybrid.female, hybrid.brand);
        if (max == hybrid.male) {
            if (hybrid.male == hybrid.female) {
                return `${maleSpan}/${femaleSpan}`;
            } else if (hybrid.male == hybrid.brand) {
                return `${maleSpan}/${brandSpan}`;
            }
            return maleSpan;
        } else if (max == hybrid.female) {
            if (hybrid.female == hybrid.brand) {
                return `${femaleSpan}/${brandSpan}`;
            }
            return femaleSpan;
        } else if (max == hybrid.brand) {
            return brandSpan;
        }

        return 'UNKNOWN';
    }

    /*
        Shows the classification results in stacked bar charts for a given username.
    */
    function showResults(username, basic, advanced, profilePic, hybrid) {
        $('.loading').hide();
        $('.result').fadeIn(500);

        var label = getClassification(hybrid);
        $('#classified').html(`@${username} - ${label}`);

        buildChart('#basic', basic);
        buildChart('#advanced', advanced);
        buildChart('#profilePic', profilePic);
        buildChart('#hybrid', hybrid);
    }

    /*
        Shows an error message.
    */
    function showError(errorMessage) {
        $('.loading').hide();
        $('.error').html(errorMessage);
        $('.error').fadeIn(500);
    }

    $(document).ready(function() {
        // Necessary for API calls
        $.ajaxSetup({ headers: { 'X-CSRFToken': '{{ csrf_token }}' } });

        // Intercepts the form submit event and dumps the results into #classifyResults div
        $('#classifyForm').on('submit', function(e) {
            e.preventDefault();
            $('.loading').fadeIn(500);
            $('.result').hide();
            $('.error').hide();

            var twitterHandle = $('#handle').val();
            classify(twitterHandle, function(graphQLResponse) {
                console.log(graphQLResponse);
                if (graphQLResponse.errors) {
                    showError(graphQLResponse.errors);
                } else {
                    var data = graphQLResponse.data.classify;
                    showResults(twitterHandle, data.bf, data.af, data.cnn, data.hybrid);
                }
            });
        });
    });
</script>
