{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-right">
    <!-- <a class="navbar-brand" href="#">TwiRole</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/liuqingli/TwiRole" target="_blank">Repository</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://arxiv.org/abs/1811.10202" target="_blank">Publication</a>
            </li>
        </ul>
    </div>
</nav>
