{% load static %}

<div class="jumbotron">
    <div class="container">
        <div class="row d-flex">
            <div class="align-self-center h-100 col-lg-5 col-sm-12 text-center">
                <img class="logo" src="{% static 'twirole.png' %}" alt="TwiRole logo" />
            </div>
            <div class="align-self-center h-100 col-lg-7 col-sm-12">
                <h1>TwiRole</h1>
                <p>
                    TwiRole is a Twitter user classifier. Simply type in a username, and TwiRole
                    will classify the username as a male, female, or brand.
                </p>
            </div>
        </div>
    </div>
</div>
